/* ////////////// Padrões do site ////////////// */
:root {
    --cor-primaria: #1a1a2e;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--cor-primaria);
    scrollbar-width: thin;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    color: white;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

img {
    outline: none;
}

img {
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

a:hover {
    color: #b7b2ff;
    animation: link 2s infinite;
}

/* ////////////// Header ////////////// */
header {
    width: 100%;
    height: 12vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

header ul {
    display: flex;
}

@keyframes brilho {
    from {
        box-shadow: 0 0 20px currentColor;
    }

    50% {
        box-shadow: 0 0 10px currentColor;
    }

    to {
        box-shadow: 0 0 20px currentColor;
    }
}

.abas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    justify-content: center;
    gap: 3%;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.abas li {
    padding: 0 25px;
    font-size: 1.2em;
    text-transform: uppercase;
    border-right: 2px solid white;
}

.abas :last-child {
    border: none;
}

.ativo {
    text-decoration: underline;
    transform: scale(1.1);
}

/* ////////////// Conteúdo principal ////////////// */
main > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    max-width: 90%;
    background: repeating-linear-gradient(0deg,
            #0E0D0E 25%,
            #0E0D0E 50%,
            #171819 50%,
            #171819 75%);
    background-size: 10px 10px;
    padding: 30px;
    border-radius: 10px;
    z-index: 8;
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal p {
    text-shadow: 1px 1px var(--cor-primaria);
    margin-bottom: 1vh;
}

/* ////// Info ////// */
.info {
    max-width: 70% !important;
    background: none !important;
    margin-bottom: 2vh;
}

#primo {
    font-weight: bold;
    text-decoration: underline;
}

#tecTitle {
    margin-top: 3vh;
}

.tecnologias {
    position: relative;
    max-height: 20%;
}

.tecnologias ul {
    margin: 2vh 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    justify-content: center;
    gap: 3%;
}

.tecnologias img {
    max-width: 40%;
}

/* ////// Destaques ////// */
.destaques {
    width: 95% !important;
    margin-bottom: 5vh;
}

.projetos {
    width: 100%;
    padding: 1vh;
}

.projetos h3 {
    margin-bottom: 1.5vh;
}

.projetos ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    justify-content: center;
    gap: 3%;
}

.projeConteudo {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 100%;
}

.projeConteudo img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1vh;
}

#projeList a, #portList a {
    background-color: var(--cor-primaria);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 6vh;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

#projeList a:hover, #portList a:hover {
    transform: scale(1.1);
}

/* ////////////// Formação ////////////// */
.forma {
    max-width: 100% !important;
    background: none !important;
    margin-bottom: 2vh;
    text-align: center;
}

.forma .modal {
    max-width: 100% !important;
    height: 100%;
}

.secoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    gap: 3%;
}

.secoes img {
    width: 30%;
    border-radius: 10px;
    margin-bottom: 1vh;
}

.secoes li {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 3vh 0;
}

/* ////////////// Portfólio ////////////// */
.port ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    gap: 3%;
}

.port li {
    margin: 3vh 0;
}

.port img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 1vh;
}

/* ////////////// Footer ////////////// */
footer {
    max-width: 100% !important;
    width: 100% !important;
    border-radius: 0 !important;
}

.github {
    font-size: 10vh;
    margin: 0.5vh 0
}